---
import { Image } from 'astro:assets';
import icon_1 from '../../../public/1.svg';
import icon_2 from '../../../public/3.svg';
import icon_3 from '../../../public/4.svg';
import icon_4 from '../../../public/5.svg';
import icon_5 from '../../../public/7.svg';
import './style.scss';
---

<section class="timing-day">
  <div class="timing-day__container">
    <h2 class="timing-day__title">Программа дня</h2>

    <div class="vertical-line">
      <div class="segment">
        <div class="icon">
          <Image src={icon_1} alt="icon_1" loading="eager" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p class="text__time">16:30</p>
          <h3 class="text__subtitle">Сбор гостей</h3>
          <p class="text__description">
            Собираясь на мероприятие, захватите с собой ваши улыбки и
            превоходное настроение
          </p>
        </div>
      </div>
      <div class="segment">
        <div class="icon">
          <Image src={icon_2} alt="icon_2" loading="eager" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p class="text__time">17:00</p>
          <h3 class="text__subtitle">Начало мероприятия</h3>
          <p class="text__description">
            Время веселиться и поздравлять молодоженов !
          </p>
        </div>
      </div>
      <div class="segment">
        <div class="icon">
          <Image src={icon_3} alt="icon_3" loading="eager" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p class="text__time">18:00</p>
          <h3 class="text__subtitle">Начало банкета</h3>
          <p class="text__description">
            Время вкусной еды, танцев и развлечений
          </p>
        </div>
      </div>
      <div class="segment">
        <div class="icon">
          <Image src={icon_4} alt="icon_4" loading="eager" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p class="text__time">21:30</p>
          <h3 class="text__subtitle">СВАДЕБНЫЙ ТОРТ</h3>
          <p class="text__description">
            Сладкая традиция, которую мы не можем обойти стороной
          </p>
        </div>
      </div>
      <div class="segment">
        <div class="icon">
          <Image src={icon_5} alt="icon_5" loading="eager" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p class="text__time">23:00</p>
          <h3 class="text__subtitle">ОКОНЧАНИЕ ВЕЧЕРА</h3>
          <p class="text__description">
            К сожалению, даже такой прекрасный вечер может закончиться
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
